.error404{
    .error_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .big_error {
            font-size: 350px;
        }
        p{
            a{
                text-decoration: none;
                color: black;
                border-bottom: 2px solid black;
            }
        }
    }
}