.page-template-archive{
    .container{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                display: flex;
                flex-direction: column;
                img{
                    width: 100%;
                    height: auto;
                }
                a{
                    text-decoration: none;
                    color: white;
                }
                .info{
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}